<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs example</title>
  </head>
  <body>
    <% if (names.length) { %>
      <h1>total: <%= names.length %></h1>
        <ul>
          <% names.forEach(function (name) { %>
            <%# Notice how the single quotation mark is escaped in the output HTML %>
            <li foo='<%= name + "'" %>'><%= name %></li>
          <% }) %>
        </ul>
      <% } %>
  </body>
</html>
