doctype html
html
    head
        title test pug
    body
        main
            div 
                h1 Hello Worlds
                p It's express server with pug template engine
                p variables is 
                    strong #{name}, length : #{name.length}
        footer
            span &copy: citron03